.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.card a {
  text-decoration: none
}

.content {
  position: relative;
  padding: 10px 20px;
  border-radius: 0% 5% 5% 0%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100px;
  background-color: #176B87;
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

  
  .btn {
    --color: #64CCC5;
    --color2: rgb(10, 25, 30);
    padding: 0.1em 1.60em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--color2);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }

/* Estilos para ocultar los detalles de la carrera */
.carrera-card .carrera-details {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
}

.carrera-card:hover .carrera-details {
  display: block;
}

/* Ajusta el estilo de la imagen */
.carrera-card .carrera-image-container {
  position: relative;
}

.carrera-card .carrera-image {
  width: 100%;
  height: 100px;
}

/* Añade espaciado para los detalles de la carrera */
.carrera-card .carrera-image-container:hover .carrera-details {
  opacity: 1;
}



